<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adam Desatoff</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/color.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/diceRoller.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/magicBall.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/tictactoe.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/toDoList.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/werdle.css" type="text/css" />
    <link
      rel="stylesheet"
      href="stylesheets/unitConverter.css"
      type="text/css"
    />
    <link rel="stylesheet" href="stylesheets/whackAMole.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira Code"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="background"></div>
    <div id="app">
      <header id="waffle">
        <div id="name">
          {{ typedName }}
          <span v-if="typedName !== 'const Adam_Desatoff ='" class="insertPoint"
            >I</span
          >
        </div>
        <div id="job">
          {{ typedJob }}
          <span
            v-if="typedName == 'const Adam_Desatoff ='"
            :class="{ blink: blink }"
            class="insertPoint"
            >I</span
          >
        </div>
      </header>

      <div id="projectHeader">Past Projects</div>

      <section id="ticTacToe" v-show="galleryNum === 1">
        <h1>Tic Tac Toe</h1>

        <h2 class="whoseTurn">Current Turn: X</h2>

        <div class="board">
          <div class="row">
            <span class="tile row1 col1 diag1">1</span>
            <span class="tile row1 col2">2</span>
            <span class="tile row1 col3 diag2">3</span>
          </div>
          <div class="row">
            <span class="tile row2 col1">4</span>
            <span class="tile row2 col2 diag1 diag2">5</span>
            <span class="tile row2 col3">6</span>
          </div>
          <div class="row">
            <span class="tile row3 col1 diag2">7</span>
            <span class="tile row3 col2">8</span>
            <span class="tile row3 col3 diag1">9</span>
          </div>
        </div>
      </section>

      <section id="color" v-show="galleryNum === 2">
        <h1>Color Creator</h1>
        <div class="container">
          <form @submit.prevent="createColor">
            <label for="red">RED: </label>
            <input type="number" placeholder="RED" v-model="red" />
            <label for="green">GREEN: </label>
            <input type="number" placeholder="GREEN" v-model="green" />
            <label for="blue">BLUE: </label>
            <input type="number" placeholder="BLUE" v-model="blue" />
            <button type="submit">Create Color!</button>
          </form>
          <div
            class="color"
            :style="{ backgroundColor: rgbStr, color: txtColor }"
          ></div>
          <div class="colorList">
            <div
              v-for="color in colorList"
              :key="color"
              :style="{ backgroundColor: color, color: getTextColor(color) }"
              class="listItem"
            >
              {{ color }}
            </div>
          </div>
        </div>
      </section>

      <section id="diceRoller" v-show="galleryNum === 3">
        <h1>Dice Roller</h1>
        <p>Sides:</p>
        <input type="number" v-model="numInput" />
        <button @click="addDie">Add Die</button>

        <div class="dice-container">
          <div
            v-for="(die, index) in dice"
            class="die"
            @click="rollDie(index)"
            @click.ctrl="deleteDie(index)"
          >
            <span>{{ die.sides }}</span>
            <span>{{ die.value }}</span>
          </div>
        </div>
        <div v-if="this.dice != 0" style="font-size: 15px">
          (ctrl + click to delete a die)
        </div>
        <button @click="rollAllDice()">Roll All Dice</button>
      </section>

      <section id="magicBall" v-show="galleryNum === 4">
        <h1>Magic 8 Ball</h1>
        <div id="ball">
          <div id="fortune">{{message}}</div>
        </div>
        <div id="question">
          <p v-if="question.length > 2 && !Valid()">Questions end with a ?</p>
          <p v-else>Ask A Question</p>
          <br /><br /><br />
          <input type="text" id="questionArea" v-model="question" />
          <button
            class="button"
            id="submit"
            v-if="question.length >= 2 && Valid()"
            v-on:click="askQuestion()"
          >
            Ask
          </button>
          <div v-for="item in history">
            {{item.question}} {{item.answer}}
            <button class="button" v-on:click="deleteItem()">X</button>
          </div>
        </div>
      </section>

      <section id="toDoList" v-show="galleryNum === 5">
        <header>
          <h1>To-Do</h1>
          <div id="search">
            <input
              type="text"
              placeholder="Search"
              v-model="search"
              id="toDoSearch"
            />
            <div id="clear-search" v-on:click="clearSearch()">X</div>
          </div>
        </header>

        <div class="addTask">
          <h1>Add a New Task</h1>
          <input
            type="text"
            placeholder="Task Description"
            v-model="taskDesc"
            id="taskDesc"
          />
          <input
            id="taskCat"
            type="text"
            placeholder="Task Category"
            v-model="taskCat"
          />
          <button
            v-if="taskDesc.length > 0 && taskCat.length > 0"
            @click="addTask(taskDesc, taskCat)"
          >
            Add Task
          </button>
        </div>

        <div class="tasks">
          <div class="row-head" v-if="tasks.length > 0">
            <div></div>
            <div>Description</div>
            <div>
              Category
              <span @click="sortTasks()" v-if="sortOrder == 'asc'">&and;</span>
              <span @click="sortTasks()" v-else>&or;</span>
            </div>
            <div></div>
            <div></div>
          </div>

          <div
            v-for="task in filteredTasks"
            class="row-body"
            v-if="search.length > 0 && filteredTasks.length > 0"
          >
            <input type="checkbox" class="checkbox" />
            <div>{{task.description}}</div>
            <div>{{task.category}}</div>
            <button @click="toggleModal(index)" class="button">Edit</button>
            <button @click="deleteTask(index)" class="button">Delete</button>
          </div>

          <div
            v-for="(task, index) in tasks"
            class="row-body"
            v-if="!filteredTasks.length > 0"
          >
            <input type="checkbox" class="checkbox" />
            <div>{{task.description}}</div>
            <div>{{task.category}}</div>
            <button @click="toggleModal(index)" class="button">Edit</button>
            <button @click="deleteTask(index)" class="button">Delete</button>
          </div>

          <div class="modal" v-show="modalOpen">
            <div class="content">
              <div id="close" @click="toggleModal(index)">X</div>
              Description<input type="text" v-model="modal.description" />
              Category<input type="text" v-model="modal.category" />
              <button @click="updateTask(); toggleModal()">Save</button>
            </div>
          </div>
        </div>
      </section>

      <section id="unitConverter" v-show="galleryNum === 6">
        <h1>Unit Converter</h1>

        <p>Gigabytes(GB) to Megabytes(MB)</p>
        <input type="number" v-model="left" />
        <button v-on:click="convertLeft" v-show="isValidInput(left)">
          Convert to MB
        </button>
        <div>{{ answerLeft }} MB</div>

        <p>Megabytes(MB) to Kilobytes(KB)</p>
        <input type="number" v-model="right" />
        <button v-on:click="convertRight" v-show="isValidInput(right)">
          Convert to KB
        </button>
        <div>{{ answerRight }} KB</div>
      </section>

      <section id="werdle" :class="{ hideWerdle: galleryNum !== 7}">
        <h1>Werdle</h1>

        <div id="werdleGuesses"></div>

        <div id="inputs">
          <p>Use your keyboard to play!</p>
          <div id="message"></div>
          <div id="num-wins">Number of Wins:</div>
        </div>
      </section>

      <section id="whackAMole" v-show="galleryNum === 8">
        <h1>Click-A-Mole!</h1>
        <div class="row" v-for="row in rows">
          <div class="col" v-for="col in columns">
            <div
              class="mole"
              v-if="moleRow == row && moleCol == col"
              v-on:click="hitMole()"
            ></div>
          </div>
        </div>
        <h2 id="score">Score: {{score}}/{{total}}</h2>
        <button @click="moveMole()">Play!</button>
      </section>

      <div id="galleryNav">
        <button class="galleryButton" @click="galleryBack()">&lt;</button>
        <div id="galleryDots">
          <span class="galleryDot" :class="{ activeDot: galleryNum == 1 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 2 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 3 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 4 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 5 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 6 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 7 }"
            >•</span
          >
          <span class="galleryDot" :class="{ activeDot: galleryNum == 8 }"
            >•</span
          >
        </div>
        <button class="galleryButton" @click="galleryForward()">&gt;</button>
      </div>
    </div>
    <script src="scripts/app.js"></script>
    <script src="scripts/tictactoe.js"></script>
    <script src="scripts/werdle.js"></script>
  </body>
</html>
