<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <header>
        <h1>To-Do</h1>
        <div id="search">
          <input type="text" placeholder="Search" v-model="search" />
          <div id="clear-search" v-on:click="clearSearch()">X</div>
        </div>
      </header>

      <div class="addTask">
        <h1>Add a New Task</h1>
        <input type="text" placeholder="Task Description" v-model="taskDesc" />
        <input type="text" placeholder="Task Category" v-model="taskCat" />
        <button
          v-if="taskDesc.length > 0 && taskCat.length > 0"
          @click="addTask(taskDesc, taskCat)"
        >
          Add Task
        </button>
      </div>

      <div class="tasks">
        <div class="row-head" v-if="tasks.length > 0">
          <div></div>
          <div>Description</div>
          <div>
            Category
            <span @click="sortTasks()" v-if="sortOrder == 'asc'">&and;</span>
            <span @click="sortTasks()" v-else>&or;</span>
          </div>
          <div></div>
          <div></div>
        </div>

        <div
          v-for="task in filteredTasks"
          class="row-body"
          v-if="search.length > 0 && filteredTasks.length > 0"
        >
          <input type="checkbox" class="checkbox" />
          <div>{{task.description}}</div>
          <div>{{task.category}}</div>
          <button @click="toggleModal(index)" class="button">Edit</button>
          <button @click="deleteTask(index)" class="button">Delete</button>
        </div>

        <div
          v-for="(task, index) in tasks"
          class="row-body"
          v-if="!filteredTasks.length > 0"
        >
          <input type="checkbox" class="checkbox" />
          <div>{{task.description}}</div>
          <div>{{task.category}}</div>
          <button @click="toggleModal(index)" class="button">Edit</button>
          <button @click="deleteTask(index)" class="button">Delete</button>
        </div>

        <div class="modal" v-show="modalOpen">
          <div class="content">
            <div id="close" @click="toggleModal(index)">X</div>
            Description<input type="text" v-model="modal.description" />
            Category<input type="text" v-model="modal.category" />
            <button @click="updateTask(); toggleModal()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
