#color {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container,
form,
input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 20px;
}
.color,
.colorList {
  width: 300px;
  height: 100px;
  font-size: 30px;
}

#color button {
  padding: 10px;
  font-size: 25px;
}
