#color {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
  transition: opacity 0.5s ease-in-out;
}

#color > .container,
#color > .container > form,
#color > .container > form > input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 20px;
}

#color > .container > form > input {
  background-color: rgb(75, 75, 75);
  border: 1px solid white;
}
.color,
.colorList {
  width: 300px;
  height: 100px;
  font-size: 20px;
}

#bg {
  width: auto;
  height: auto;
}

#color button {
  padding: 10px;
  font-size: 25px;
  background-color: rgb(75, 75, 75);
  border-radius: 25px;
  border: 2px solid white;
}
