#diceRoller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 25px;
  font-size: 30px;
}
.dice-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#diceRoller button {
  padding: 15px;
  font-size: 20px;
}

.die {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.die span:nth-child(2) {
  font-size: 36px;
}
.die:hover {
  cursor: pointer;
}
