:root {
  --blue: #398bc9;
  --orange: #d75c2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code";
  color: white;
}
body {
  background-image: url("../images/backgroundBlur.jpg");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#waffle {
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: left;
}

#name {
  font-size: 75px;
  color: var(--blue);
}
#job {
  font-size: 55px;
  color: var(--orange);
  margin-bottom: 1px;
}

.insertPoint {
  font-size: 65px;
  color: lightgray;
  position: relative;
  right: 25px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.blink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: lightgray;
  animation: blink 1s step-end infinite;
  position: relative;
  right: 25px;
  top: 5px;
}

#projectHeader {
  font-size: 45px;
  margin-top: 75px;
  margin-bottom: 25px;
}

input {
  background-color: rgb(75, 75, 75);
  border: 1px solid white;
}

button {
  background-color: rgb(75, 75, 75);
  color: white;
}

#galleryNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  text-align: center;
}

.galleryDot {
  font-size: 40px;
  text-align: center;
}

.galleryButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 10px;
}

.activeDot {
  color: maroon;
  font-size: 40px;
  text-align: center;
}

.hideWerdle {
  position: absolute;
  bottom: 99999px;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@media screen and (max-width: 1000px) {
  #waffle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 80vw;
  }
  #waffle > * {
    font-size: 3em;
  }
  #job {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
  }
  .insertPoint {
    font-size: 5rem;
  }
}

@media screen and (max-width: 950px) {
  #waffle * {
    transform: scale(70%);
  }
}

@media screen and (max-width: 900px) {
  #waffle * {
    transform: scale(87%);
  }
}

@media screen and (max-width: 700px) {
  #waffle * {
    transform: scale(85%);
  }
}

@media screen and (max-width: 600px) {
  * {
    transform: scale(84%);
  }
}

@media screen and (max-width: 500px) {
  * {
    transform: scale(83%);
  }
}

@media screen and (max-width: 400px) {
  * {
    transform: scale(82%);
  }
}

@media screen and (max-width: 300px) {
  * {
    transform: scale(81%);
  }
}
