:root {
  --blue: #398bc9;
  --orange: #9f5033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code";
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    150deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(88, 14, 186, 1) 100%
  );
  background-size: cover;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
header {
  margin-top: 150px;
  margin-left: 35%;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: left;
}

#name {
  font-size: 75px;
  color: var(--blue);
}
#job {
  font-size: 55px;
  color: var(--orange);
  margin-bottom: 1px;
}

.insertPoint {
  font-size: 65px;
  color: lightgray;
  position: relative;
  right: 25px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.blink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: lightgray;
  animation: blink 1s step-end infinite;
  position: relative;
  right: 25px;
  top: 5px;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
