#ticTacToe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#ticTacToe h1 {
  font-size: 50px;
}

.tile {
  background-color: gray;
  padding: 50px;
  width: auto;
  height: auto;
  font-size: 48px;
}
.board {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  gap: 5px;
}
.X {
  background-color: red;
}
.O {
  background-color: blue;
}
.win {
  color: purple;
}
