#ticTacToe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 500px;
  max-height: 500px;
  transition: opacity 0.5s ease-in-out;
}

#ticTacToe h1 {
  font-size: 50px;
}

.tile {
  background-color: gray;
  padding: 40px;
  width: auto;
  height: auto;
  font-size: 30px;
}
.board {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  gap: 5px;
}
.X {
  background-color: red;
}
.O {
  background-color: blue;
}
.win {
  color: purple;
}
