:root {
  --red: rgb(255, 0, 0);
  --green: rgb(0, 255, 0);
  --grey: rgb(75, 75, 75);
  --white: rgb(255, 255, 255);
}

#toDoList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 500px;
  max-height: 500px;
}

#toDoList header {
  width: 100%;
  padding: 24px;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}
.tasks {
  width: 90%;
  margin: 24px 0;
  text-align: left;
}
.tasks > div:nth-child(even) {
  background-color: gray;
}
.row-body,
.row-head,
.row-footer {
  height: 60px;
  display: grid;
  background-color: darkgray;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  text-align: center;
  margin: 10px 0;
  align-items: center;
}

.row-footer {
  font-weight: bold;
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
#taskDesc,
#taskCat {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255);
  padding: 15px;
  color: white;
}

#taskDesc:focus,
#taskCat:focus {
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255);
}
#toDoSearch {
  background-color: darkgray;
  border: 1px solid black;
  padding: 12px;
  color: white;
  border-radius: 50px;
}
#search {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgba(255, 255, 255, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.modal .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#close {
  position: fixed;
  top: 50px;
  right: 50px;
  font-weight: bold;
  color: var(--red);
  background-color: var(--white);
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#toDoList button {
  text-align: center;
  padding: 8px 12px;
  margin: 5px;
}
.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
}
.edit {
  padding: 5px 8px;
  width: auto;
}
.checkbox {
  transform: scale(2);
}
