#werdle * {
  text-align: center;
}

#werdle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-height: 500px;
  max-width: 500px;
  transition: opacity 0.5s ease-in-out;
}

.guess {
  display: flex;
  justify-content: center;
}

.letter {
  border: 2px solid #86888a;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 3px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}

.guessed .letter {
  background-color: #86888a;
  color: #ffffff;
}

.guessed .letter.contains {
  background-color: #c9b458;
  border-color: #c9b458;
}

.guessed .letter.match {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

#werdle #inputs {
  margin: 20px 0;
}

#werdle button {
  margin-top: 20px;
  font-size: 20px;
}

#werdle #message {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
