.mole {
  background-color: brown;
  border-radius: 50%;
  height: inherit;
  width: inherit;
}
#whackAMole .row {
  margin: 16px;
}

#whackAMole .col {
  display: inline-block;
  background-color: pink;
  width: 75px;
  height: 75px;
  margin: 0 16px;
  border-radius: 5px;
}

#whackAMole {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 10px;
}

#whackAMole button {
  padding: 10px;
  font-size: 25px;
}
