.mole {
  background-color: yellow;
  border-radius: 50%;
  height: inherit;
  width: inherit;
}
#whackAMole .row {
  margin: 16px;
}

#whackAMole .col {
  display: inline-block;
  background-color: gray;
  width: 75px;
  height: 75px;
  margin: 0 16px;
  border-radius: 5px;
}
