<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colors</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>Color Palette</h1>
      <div class="container">
        <form @submit.prevent="createColor">
          <label for="red">RED: </label>
          <input type="number" placeholder="RED" v-model="red" />
          <label for="green">GREEN: </label>
          <input type="number" placeholder="GREEN" v-model="green" />
          <label for="blue">BLUE: </label>
          <input type="number" placeholder="BLUE" v-model="blue" />
          <button type="submit">Create Color!</button>
        </form>
        <div class="color" v-bind:style="{ backgroundColor: rgbStr }"></div>
        <div class="colorList">
          <div
            v-for="color in colorList"
            v-bind:style="{ backgroundColor: color }"
          >
            {{ color }}
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
